{% extends 'base.html.twig' %}

{% block title %}
    {{ project.name }} 
{% endblock %}

{% block body %}
    <main>
    {# how to dump values in twig #}
    {# {{ dump(status) }} #}
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <div class="flex-header">
                    <h1>{{ project.name }}</h1>
                    <div class="user-list">
                        {% for employee in employees %}
                            <div class="avatar">{{ employee.name|slice(0,1) }} {{ employee.firstname|slice(0,1) }}</div>
                        {% endfor %}
                    </div>
                    <a class="button" href="{{path('app_projects_modify', {id:project.id})}}">Modifier</a>
                </div>
            </div>
        </header>
        <div id="content">
            <div id="tasks-container">
                {% for taskType in status %}
                    <div class="task-column">
                        <h2>{{ taskType }}</h2>
                        <div class="tasks-list">
                            {% for task in tasks %}
                                {% if task.status.getLabel() == taskType %}
                                    <a class="task" href="{{ path('app_modify_task', {id:task.id}) }}">
                                        <h3>{{ task.title }}</h3>
                                        <p>{{ task.content }}</p>
                                        <div class="task-infos">
                                            <div class="task-deadline">
                                                <i class="fa-regular fa-calendar"></i> {{ task.date|date('d/m/Y') }}
                                            </div>
                                            <div class="mini-user">
                                                {{ task.member.name|slice(0,1) }} {{task.member.firstname|slice(0,1)}}
                                            </div>
                                        </div>
                                    </a> 
                                {% endif %}                
                            {% endfor %}
                            <a href="{{ path('app_add_task', {status:"To Do", projectId:project.id}) }}" class="task-add">
                            + Ajouter une tâche
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}