{% extends 'base.html.twig' %}

{% block title %}
    {% if task.title is null or task.title is empty %}
        Créer une tache
    {% else %} 
        {{ task.title }}
    {% endif %}
{% endblock %}

{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                {% if task.title is null or task.title is empty %}
                    <h1>Créer une tache</h1> 
                {% else %} 
                    <h1>{{ task.title }} </h1>
                {% endif %}
            </div>
        </header>
        <div id="content">
            {{ form_start(form) }}
            <div>
                {{ form_row(form.title, { label:'Titre de la tâche' }) }}
            </div>
            <div>
            {{ form_row(form.content, { label:'Description '}) }}
            </div>
            <div class="flex-form">
                <div>
                    {{ form_row(form.date, { label:'Date' }) }}
                </div>
                <div>
                    {{ form_row(form.status, {label:'Statut'}) }}
                </div>
            </div>
            <div>
            {{ form_row(form.membre, {label:'Membre'}) }}
            </div>
                <br>
                <button class="button button-submit">Modifier</button>
            {{ form_end(form) }}
            {% if task.title is not null or task.title is not empty %}
                <a href="{ path('app_delete_task', {id:task.id})}" class="delete-task">Supprimer la tâche</a>
            {% endif %}

                <label for="tache_titre" class="required">Titre de la tâche</label><input type="text" id="tache_titre" name="tache[titre]" required="required" value="Gestion des droits d&#039;accès" /></div>
                <div><label for="tache_description">Description</label><textarea id="tache_description" name="tache[description]">Un employé ne peut accéder qu&#039;à ses projets</textarea></div>
                <div class="flex-form">
                    <div><label for="tache_deadline">Date</label><input type="date" id="tache_deadline" name="tache[deadline]" value="2023-09-22" /></div>
                    <div>
                        <label for="tache_statut" class="required">Statut</label>
                        <select id="tache_statut" name="tache[statut]">
                            <option value="13" selected="selected">To Do</option>
                            <option value="14">Doing</option>
                            <option value="15">Done</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="tache_employe">Membre</label>
                    <select id="tache_employe" name="tache[employe]">
                        <option value=""></option>
                        <option value="13">Natalie Dillon</option>
                        <option value="14">Demi Baker</option>
                    </select>
                </div>
        </div>
    </main>
{% endblock %}