{% extends 'base.html.twig' %}

{% block title %}
    {% if task is null or task is empty %}
        Créer une tache
    {% else %} 
        {{ task.title }}
    {% endif %}
{% endblock %}

{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                {% if task.id is null or task.id is empty %}
                    <h1>Créer une tache</h1> 
                {% else %} 
                    <h1>{{ task.title }} </h1>
                    {{ status }}
                {% endif %}
            </div>
        </header>
        <div id="content">
            {{ form_start(form) }}
            {{ form_row(form.project_id) }}
            <div>
                {{ form_row(form.title, { label:'Titre de la tâche' }) }}
            </div>
            <div>
            {{ form_row(form.content, { label:'Description '}) }}
            </div>
            <div class="flex-form">
                <div>
                    {{ form_row(form.date, { label:'Date' }) }}
                </div>
                <div>
                    {{ form_row(form.status, {label:'Statut'}) }}
                </div>
            </div>
            <div>
            {{ form_row(form.member, {label:'Membre'}) }}
            </div>
                <br>
                <button class="button button-submit">Modifier</button>
            {{ form_end(form) }}
            {% if task.title is not null or task.title is not empty %}
                <div>
                    <a href="{ path('app_delete_task', {id:task.id})}" class="delete-task">Supprimer la tâche</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}